* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;

}

.AddedAcceptancestab {
    width: 100%;
    margin-top: 10px;

}

.AddedAcceptancestab_list {
    height: 40px;
    background-color: #F3F0F1;
}

.AddedAcceptancestab_list li {
    float: left;
    padding: 10px 2px;
    font-size: 13px;
}

.AddedAcceptancestab_list li:hover {
    cursor: pointer;
}

.AddedAcceptancesgb {
    background-color: #D72820;
    color: #fff;
}

.AddedAcceptancesitme {
    margin-top: 10px;
    display: none;
    width: 600px;
    /*width: 100%;*/
    margin-top: 10px;
    margin-left: 15px;
    height: 400px;
}

